/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.container{
  max-width: 550px
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  cursor: pointer
}

svg {
  cursor:pointer;
}

svg:active{
  cursor:move
}

.link {
  stroke: #DDD7D7;
  stroke-opacity: .6;
}

.header {
  margin-bottom: 30px;
  padding-bottom:19px;
}

.relative-container{
  position:relative;height:100%;width:100%;
}

.absolute-container {
  position:absolute;
  width:100%;
  height:100%;
  bottom:0;
}

.peeked {
  height:25%;
}

.hiding {
  height:0%;
}

.light-background{
  background:#F7F7F7;
}

.relatively-in{
  width:94%;margin:auto
}

.group-1 {
  fill: red;
}

.group-2 {
  fill: blue;
}

.group-3 {
  fill: orange;
}

.group-4 {
  fill: green;
}

.group-5 {
  fill: purple;
}