doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='bower_components/html5-boilerplate/css/normalize.css')
    link(rel='stylesheet', href='bower_components/html5-boilerplate/css/main.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js')
    script(src='bower_components/d3/d3.min.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='js/load.js')
    title Matter Map
    link(rel='stylesheet', href='css/app.css')
  body(ng-cloak='ng-cloak')
    .container
        .header
            .nav.nav-pills.pull-right
                li.active
                    a(href="#/overview") Overview 
                li
                    a(href="#/stats") Statistics
                li
                    a(href="#/search") Search
            h3.text-muted Matter Map
        div(ng-view='ng-view')
