
<div style="border:1px solid #e5e5e5;width:502px">
	<div ng-if="!Graph.Focus">
		<eg-overview width="500" height="500" graph="Graph" />
	</div>
	<div ng-if="Graph.Focus">
		<eg-focused width="500" height="500" graph="Graph" target="Graph.Focus" />
	</div>

</div>

<div ng-if="Focus">
	<div ng-switch="Focus['$type']">
		<div ng-switch-when="GlobalX.Common.DataModel.Company">
			<gxs-company entity="Focus" />
		</div>
		<div ng-switch-when="GlobalX.Common.DataModel.CollateralRegistration">
			<gxs-collateral entity="Focus"  />
		</div>
		<div ng-switch-when="GlobalX.Common.DataModel.Individual">
			<gxs-individual entity="Focus"  />
		</div>
		<div ng-switch-when="GlobalX.Common.DataModel.MotorVehicle">
			<gxs-motorvehicle entity="Focus" />
		</div>
		<div ng-switch-when="GlobalX.Common.DataModel.RealProperty">
			<gxs-property entity="Focus"  />
		</div>
		<div ng-switch-when="GlobalX.Common.DataModel.SecuredPartyGroup">
			<gxs-securedpartygroup entity="Focus"  />
		</div>
		<div ng-switch-when="GlobalX.Common.DataModel.Watercraft">
			<gxs-watercraft entity="Focus" />
		</div>
	</div>
</div>