<div style="position:relative;height:0;width:100%;">
	<div style="position:absolute;left:0;top:0;padding:1em;font-size:1.2em;cursor:pointer" ng-click="graph.DropFocus()">
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span>Back</span>
	</div>
</div>